{% extends 'base.html' %}
{% block title %}MP3{% endblock %}
{% block content %}
    <div class="mt-3">
        <div class="row  text-center">
            <div class="col-12">
                <h1>MP3</h1>
                <p>Utiliza la URL del video de Youtube y descarga el audio en MP3 de dicho video.</p>
            </div>
            <div class="col-md-9 col-sm-12">        
                <div class="input-group m-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">URL</span>
                    </div>
                    <input type="text" class="form-control" id="video_url" aria-describedby="basic-addon3">
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <button type="button" class="btn btn-dark m-1" onclick="downloadVideo()">Descargar</button>
            </div>
            <a id="archive" class="hidden" href="#" download></a>
            <div id="log" class ="col-12">
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
        const socket = io('{{ notifications_url }}')
        let uuid

        let generateUUID = () => {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {
                var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8)
                return v.toString(16)
            });
        }

        let downloadVideo = () => {
            $('#log').empty()
            let video_url = document.getElementById("video_url").value
            uuid = generateUUID()
            data = {
                'uuid': uuid,
                'video_url': video_url
            }
            socket.emit('subscribeTask', uuid)
            $.ajax({
                url: "{% url 'download' %}",
                type: 'GET',
                data: {'data': JSON.stringify(data)}
            }).then(res => {
                $('#log').append(
                    $('<p>', {'text': 'Tarea comenzada con éxito', class: 'text-success'})
                )
            }).catch(err => console.error(err))
        }

        let downloadURI = (uri) => {
            let a = document.getElementById("archive")
            a.href=uri
            a.click()
        }

        socket.on('notify', (data) => {
            data = JSON.parse(data)
            console.log(data)
            if(data.response){
                $('#log').append(
                    $('<p>', {'text': data.response, class: 'text-success'})
                )
                if(data.download_url){
                    socket.emit('unsubscribeTask', uuid)
                    downloadURI(`${location.protocol}//${location.host}/${data.download_url}`)
                    document.getElementById("video_url").value = ''
                }
            }
            if(data.error){
                socket.emit('unsubscribeTask', uuid)
                $('#log').append(
                    $('<p>', {'text': data.error, class: 'text-danger'})
                )
            }
        })
    </script>
{% endblock %}